<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="inner">

	<!-- Facebook invite friends feature-->
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script>
		FB.init({
		appId:'1485946781678000',
		cookie:true,
		status:true,
		xfbml:true
		});

		function InviteF()
		{
			FB.ui({
				method: 'apprequests',
				message: 'Show your Friends how to Search the Cloud',
			}, function(response){
				console.log(response);
			});	
		}
		function share_facebook(url) {
			FB.ui({
			  method: 'share',
			  href: url,
			}, function(response){});
		}
	</script>
	
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
   <header class="header">
  
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <a class="navbar-brand" href="/"><img src="img/logo.png" alt="Cloud Hound"></a>
        
                    <div id="sub-menu" class="pull-right">
                      <button type="button" class="btn btn-default" onclick="InviteF();">Invite Friends</button>
                    </div>
              </div>
            </div>
            <!-- /.container -->
        </nav>
        
    </header>
	
    <!-- Main Content -->
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="primary" class="col-md-9">
                    <div id="primary-inner" class="row">
                    
                    	<div id="content-header">
                        	<div class="top clearfix">
                                <h1>{{heading}}</h1>
                                <div id="social-media">
                                	<ul class="list-inline">
                                    	<li><a href="javascript:void(0)" onclick="share_facebook(document.URL);"><img src="img/facebook-icon.png"></a></li>
                                        <li><a href="https://twitter.com/share?url=" + document.URL target="_blank"><img src="img/twitter-icon.png"></a></li>
                                        <li><a href=""><img src="img/youtube-icon.png"></a></li>
                                        <li><a href=""><img src="img/instagram-icon.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="bottom clearfix">
                                <p class="sub-title">Please Read the Terms & Conditions & Complete the Following.</p>
                                <p class="date">October 2, 2014 - 10:34am by James Arthur</p>
                                </div>-->
                        </div>
                        <div id="content">
                          {{{content}}}
                        </div>
                    </div>
                </div>
                <div id="secondary" class="sidebar col-md-3">
                    <div class="row">
                    	<aside id="trending" class="widget">
                         <h3>Trending</h3>
                         <ul class="list-unstyled">
                            <!--<li><strong>-- Kreg Crimble</strong>
                            to our latest listings and other industry knowledge by signing up for our newsletter below</li>
                            <li><strong>-- John Donny</strong>
                            to our latest listings and other industry knowledge by signing up for our newsletter below</li>
                            <li><strong>-- Elisa White</strong>
                            to our latest listings and other industry knowledge by signing up for our newsletter below</li>-->
                            {{#each trending}}
                              <li><strong><a href="{{url}}">-- {{title}}</a></strong>
                                {{snippet}}
                              </li>
                            {{/each}}
                         </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Footer -->

    <footer>
        <div id="categories">
        	<div class="container">
            	<div class="row">
                        <aside id="news" class="col-md-2 col-md-offset-1 col-sm-6">
                        <h6><span class="icon icon-1"></span>News</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/local-news">Local</a>
                                </li>
                                <li>
                                    <a href="/news">National</a>
                                </li>
                                 <li>
                                    <a href="/world-news">World</a>
                                </li>
                                <li>
                                    <a href="/top-news">Top News</a>
                                </li>
                            </ul>
                        </aside>
                        
                        <aside id="finance" class="col-md-2 col-sm-6">
                        <h6><span class="icon icon-2"></span>Finance</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/stocks">Stocks</a>
                                </li>
                                <li>
                                    <a href="/stocks-news">News</a>
                                </li>
                                 <li>
                                    <a href="/local-finance">Local</a>
                                </li>
                                <li>
                                    <a href="/global-finance">Global</a>
                                </li>
                            </ul>
                        </aside>
                        
                        <aside id="entertainment" class="col-md-2 col-sm-6">
                        <h6><span class="icon icon-3"></span>Entertainment</h6>
                             <ul class="list-unstyled">
                                <li>
                                    <a href="/tv">TV</a>
                                </li>
                                <li>
                                  <a href="/movies">Movies</a>
                                </li>
                                 <li>
                                   <a href="/music">Music</a>
                                </li>
                                <li>
                                  <a href="/books">Books</a>
                                </li>
                            </ul>
                        </aside>

                        <aside id="sports" class="col-md-2 col-sm-6">
                        <h6><span class="icon icon-4"></span>Sports</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/mlb">MLB</a>
                                </li>
                                <li>
                                    <a href="/nba">NBA</a>
                                </li>
                                 <li>
                                    <a href="/ncaa">NCAA</a>
                                </li>
                                <li>
                                    <a href="/nfl">NFL</a>
                                </li>
                            </ul>
                        </aside>
                        
                        <aside id="weather" class="col-md-2 col-sm-6">
                        <h6><span class="icon icon-5"></span>Weather</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/weather">Today</a>
                                </li>
                                <li>
                                    <a href="/weather">This Week</a>
                                </li>
                                 <li>
                                     <a href="/national-weather">National</a>
                                </li>
                                <li>
                                    <a href="/world-weather">World</a>
                                </li>
                            </ul>
                        </aside>
        
        
				</div>
        	</div>
        </div>
        
        <div id="copyright">
        	<div class="container">
            	<div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2014 by Cloud Hound and those posting information, <a href="">Terms &amp; Conditions</a>, <a href="">Privacy Policy</a>. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/functions.js"></script>

</body>

</html>
